.header {
  @extend %flexbox;

  height: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6.4rem;
  padding: 2.4rem 2.4rem 0;
}

@include respond-to($breakpoint-tablets) {
  .header {
    padding: 4rem 4rem 0;
  }
}
