.hero {
  @extend %grid;
  row-gap: 6.4rem;
  position: relative;
  margin-bottom: 2.4rem;

  &__content,
  &__order {
    @extend %flexbox;
    gap: 3rem;
  }

  &__content {
    align-items: baseline;
    padding: 0 2.4rem;
  }

  &__title {
    @extend %text-preset-h1;
  }

  &__description,
  &__release-date {
    @extend %text-preset-body;
  }

  &__order {
    flex-direction: row;
  }

  &__release-date {
    text-transform: uppercase;
    font-weight: 700;
  }

  &__image {
    display: block;

    img {
      width: 100%;
      height: auto;
      padding-left: 2.4rem;
    }
  }
}

@include respond-to($breakpoint-tablets) {
  .hero {
    grid-template-columns: 33.9rem 1fr;
    column-gap: 6.9rem;
    padding-left: 4rem;
    margin-bottom: 4rem;
    align-content: center;

    &__content,
    &__image,
    img {
      padding: 0;
    }

    &__title {
      margin-bottom: 0.2rem;
    }

    &__description {
      margin-bottom: 0.7rem;
    }

    &__order {
      gap: 3.7rem;
    }
  }
}

@include respond-to($breakpoint-large-tablets) {
  .hero {
    grid-template-columns: 0.75fr 1fr;
    padding-right: 4rem;
  }
}

@include respond-to($breakpoint-desktops) {
  .hero {
    grid-template-columns: 1fr 54rem;
    padding: 0 16.5rem;
    column-gap: 12.5rem;
    margin-bottom: 3rem;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 25.5rem;
      height: 24rem;
      background-color: $color-light-gray;
      border-radius: 2rem;
      transform: translateX(45%);
    }

    &__content {
      gap: 0;
    }

    &__title {
      font-size: 5.6rem;
      line-height: 1;
      margin-bottom: 2.4rem;
    }

    &__description {
      font-size: 1.8rem;
      line-height: 2.6rem;
      margin-bottom: 4rem;
    }

    &__order {
      gap: 4rem;
    }
  }
}
