.hero {
    @extend %grid;

    row-gap: 6.4rem;
    height: auto;
    padding: 0;
    overflow: hidden;
    margin-bottom: 2.4rem;

    &__content {
        @extend %flexbox;

        align-items: baseline;
        gap: 3.2rem;
        padding: 0 2.4rem;
    }

    &__title {
        @extend %text-preset-h1;

        font-size: clamp(4.2rem, 2vw, 5.6rem);
    }

    &__description {
        @extend %text-preset-body;
    }

    &__order {
        @extend %flexbox;

        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        gap: 3.2rem;
    }

    &__release-date {
        @extend %text-preset-body;

        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 700;
    }

    &__image {
        border-radius: 2rem;

        &--desktop, &--tablet {
            display: none;
        }

        &--mobile {
            display: block;
            width: 100%;
            transform: translateX(2.4rem);
        }
    }
}
