.information {
    @extend %grid;

    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 3rem;
    place-items: center;
    margin-top: 3rem;

    .decoration {
        anchor-name: --decoration;
    }

    .target {
        position: absolute;
        position-anchor: --decoration;
        position-area: top left;
        width: 25.5rem;
        height: 24rem;
        background-color: $color-light-gray;
        border-radius: 2rem;
        right: 55%;
    }

    &__image {
        width: 100%;
        height: 48rem;
        border-radius: 2rem;

        &--first {
            max-width: 25.5rem;
            background-image: linear-gradient(rgba($color-orange, 74.86%), rgba($color-orange, 74.86%)), url("../../assets/desktop/image-phone-and-keyboard.jpg");
            background-position: center;
            background-size: cover;
            background-blend-mode: multiply;
        }

        &--second {
            max-width: 44.5rem;
            justify-self: baseline;
        }
    }

    &__content {
        max-width: 26rem;
        margin-left: auto;
    }

    &__title {
        @extend %text-preset-h2;

        color: $color-navy-blue;
        margin-bottom: 2.7rem;
    }

    &__description {
        @extend %text-preset-body;

        color: $color-navy-gray;
    }
}
