.main-container {
    max-width: 144rem;
    margin: 0 auto;
    position: relative;
    padding: 5.5rem 16.5rem 4rem;
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        width: 25.5rem;
        height: 24rem;
        background-color: $color-light-gray;
        left: 100%;
        top: 19.5rem;
        transform: translateX(-50%);
        border-radius: 2rem;
    }

    // &::before {
    //     content: "";
    //     position: absolute;
    //     width: 25.5rem;
    //     height: 23.6rem;
    //     background-color: $color-light-gray;
    //     right: 100%;
    //     top: 0;
    //     border-radius: 2rem;
    //     transform: translateX(50%);
    // }
}

@include respond-to($breakpoint-tablets) {
    .main-container {
        padding: 4rem 4rem 4.3rem;

        &::after {
            display: none;
        }
    }
}


@include respond-to($breakpoint-small-mobiles) {
    html {
        font-size: 56.25%;
    }

    .main-container {
        padding: 2.3rem 2.4rem 5rem;
    }

    &::after {
        display: none;
    }
}
