.main-container {
    max-width: 144rem;
    margin: 0 auto;
    position: relative;
    padding: 5.5rem 16.5rem;
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        width: 25.5rem;
        height: 24rem;
        background-color: $color-light-gray;
        left: 100%;
        top: 19.5rem;
        transform: translateX(-50%);
        border-radius: 2rem;
    }
}

@include respond-to($breakpoint-tablets) {
    .main-container {
        padding: 4rem;

        &::after {
            display: none;
        }
    }
}
