/* NOTE: buttons */

%button-style {
  text-align: center;
  text-transform: uppercase;

  width: 15rem;
  min-height: 4.8rem;
  border: none;
  border-radius: 0.8rem;
}

/* NOTE: flexbox */
%flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* NOTE: grid */
%grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}
