/*NOTE: colors*/
$color-orange: #f16718;
$color-light-orange: #ff9b62;
$color-navy-blue: #162542;
$color-navy-gray: #7b8bad;
$color-light-gray: #e8eff2;
$color-white: #fff;

//* NOTE: breakpoints
$breakpoint-tablets: "(min-width: 48em)";
$breakpoint-large-tablets: "(min-width: 64em)";
$breakpoint-desktops: "(min-width: 75em)";
