.btn {
  @extend %button-style;
  @extend %text-preset-h3;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.625;

  &--gray {
    background-color: $color-light-gray;
    color: $color-navy-blue;

    &:hover {
      background-color: $color-navy-blue;
      color: $color-white;
    }
  }

  &--orange {
    background-color: $color-orange;
    color: $color-white;

    &:hover {
      background-color: $color-light-orange;
    }
  }
}

@include respond-to($breakpoint-tablets) {
  .btn {
    width: 17.5rem;
    height: 5.8rem;
  }
}
