/*NOTE: colors*/
/* NOTE: buttons */
.btn {
  text-align: center;
  text-transform: uppercase;
  width: 15rem;
  min-height: 4.8rem;
  border: none;
  border-radius: 0.8rem; }

/* NOTE: flexbox */
.header, .hero__content, .hero__order, .information__gallery, .information__content, .features__container, .features__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

/* NOTE: grid */
.hero, .information, .features {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 56.25%;
  scroll-behavior: smooth; }

body {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  line-height: 1;
  background-color: #fff; }

@media (min-width: 768px) {
  html {
    font-size: 62.5%; } }
.information__title, .btn, .features__title, .hero__title {
  font-family: "Barlow";
  font-weight: 900;
  font-size: 4.8rem;
  text-transform: uppercase;
  color: #162542; }

.information__title {
  font-size: 3.2rem;
  line-height: 1.125; }

.btn, .features__title {
  font-size: 2.4rem;
  line-height: 1.167; }

.hero__description, .hero__release-date, .information__description, .features__description, .footer p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.625;
  color: #7b8bad; }

.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.625; }
  .btn:hover {
    cursor: pointer; }
  .btn--gray {
    background-color: #e8eff2;
    color: #162542; }
    .btn--gray:hover {
      background-color: #162542;
      color: #fff; }
  .btn--orange {
    background-color: #f16718;
    color: #fff; }
    .btn--orange:hover {
      background-color: #ff9b62; }

@media (min-width: 48em) {
  .btn {
    width: 17.5rem;
    height: 5.8rem; } }
.main-container {
  max-width: 144rem;
  margin: 0 auto;
  overflow: hidden; }

.header {
  flex-direction: row;
  justify-content: space-between;
  padding: 2.3rem 2.4rem 6.4rem; }

@media (min-width: 48em) {
  .header {
    padding: 4rem 4rem 6.2rem; } }
@media (min-width: 75em) {
  .header {
    padding: 5.5rem 16.5rem 8.3rem; } }
.hero {
  row-gap: 6.4rem;
  position: relative;
  margin-bottom: 2.4rem; }
  .hero__content, .hero__order {
    gap: 3rem; }
  .hero__content {
    align-items: baseline;
    padding: 0 2.4rem; }
  .hero__order {
    flex-direction: row; }
  .hero__release-date {
    text-transform: uppercase;
    font-weight: 700; }
  .hero__image {
    display: block; }
    .hero__image img {
      width: 100%;
      height: auto;
      padding-left: 2.4rem; }

@media (min-width: 48em) {
  .hero {
    grid-template-columns: 33.9rem 1fr;
    column-gap: 6.9rem;
    padding-left: 4rem;
    margin-bottom: 4rem;
    align-content: center; }
    .hero__content, .hero__image,
    .hero img {
      padding: 0; }
    .hero__title {
      margin-bottom: 0.2rem; }
    .hero__description {
      margin-bottom: 0.7rem; }
    .hero__order {
      gap: 3.7rem; } }
@media (min-width: 64em) {
  .hero {
    grid-template-columns: 0.75fr 1fr;
    padding-right: 4rem; } }
@media (min-width: 75em) {
  .hero {
    grid-template-columns: 1fr 54rem;
    padding: 0 16.5rem;
    column-gap: 12.5rem;
    margin-bottom: 3rem; }
    .hero::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 25.5rem;
      height: 24rem;
      background-color: #e8eff2;
      border-radius: 2rem;
      transform: translateX(45%); }
    .hero__content {
      gap: 0; }
    .hero__title {
      font-size: 5.6rem;
      line-height: 1;
      margin-bottom: 2.4rem; }
    .hero__description {
      font-size: 1.8rem;
      line-height: 2.6rem;
      margin-bottom: 4rem; }
    .hero__order {
      gap: 4rem; } }
.information {
  row-gap: 7.5rem; }
  .information__gallery, .information__content {
    gap: 2.4rem; }
  .information__gallery {
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 2.4rem;
    gap: 0; }
    .information__gallery-image {
      display: block; }
      .information__gallery-image img {
        width: 100%;
        height: 100%;
        border-radius: 2rem; }
      .information__gallery-image--first {
        position: relative;
        transform: translateX(-2.4rem); }
        .information__gallery-image--first::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(241, 103, 24, 0.8);
          mix-blend-mode: multiply;
          border-radius: 2rem; }
  .information__content {
    margin-bottom: 11.1rem;
    padding: 0 2.4rem;
    text-align: center; }
  .information__description {
    font-size: 1.6rem;
    max-width: 32.7rem; }

@media (min-width: 48em) {
  .information {
    row-gap: 7.2rem;
    padding: 0 4rem; }
    .information__gallery, .information__content {
      gap: 3rem;
      padding: 0; }
      .information__gallery-image--first, .information__content-image--first {
        transform: translate(0); }
    .information__content {
      text-align: justify;
      flex-direction: row;
      justify-content: space-between;
      gap: 3.6rem;
      margin-bottom: 14.2rem; }
    .information__description {
      max-width: 39.8rem; } }
@media (min-width: 75em) {
  .information {
    position: relative;
    padding: 0 16.5rem;
    grid-template-columns: 1fr 25.5rem;
    column-gap: 12.5rem;
    margin-bottom: 16.8rem; }
    .information::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 25.5rem;
      height: 23.6rem;
      background-color: #e8eff2;
      border-radius: 2rem;
      transform: translateX(-45%); }
    .information__content {
      flex-direction: column;
      align-items: baseline;
      margin: 0;
      gap: 2.7rem; } }
/* @include respond-to($breakpoint-desktops) { */
/*     .information { */
/*         display: flex; */
/*         padding: 0 16.5rem; */
/*         position: relative; */
/*         margin-bottom: 16.8rem; */
/*         gap: 12.5rem; */
/**/
/*         &::before { */
/*             content: ""; */
/*             position: absolute; */
/*             left: 0; */
/*             width: 25.5rem; */
/*             height: 24rem; */
/*             left: 0; */
/*             bottom: 0; */
/*             background-color: $color-light-gray; */
/*             transform: translateX(-45%); */
/*             border-radius: 2rem; */
/*         } */
/**/
/*         &__content { */
/*             padding: 0; */
/*             text-align: justify; */
/*             align-items: baseline; */
/*             max-width: 25.5rem; */
/*             margin-bottom: 0; */
/*             gap: 2.7rem; */
/*         } */
/**/
/*         &__gallery { */
/*             padding: 0; */
/*             gap: 3rem; */
/*             margin-bottom: 0; */
/**/
/*             &-image { */
/*                 &--first { */
/*                     transform: translate(0); */
/*                     max-width: 25.5rem; */
/*                 } */
/**/
/*                 &--second { */
/*                     max-width: 44.5rem; */
/*                 } */
/*             } */
/*         } */
/*     } */
/* } */
.features {
  padding: 0 2.4rem;
  grid-template-columns: 1fr;
  align-items: center;
  row-gap: 6.4rem;
  margin-bottom: 9.6rem; }
  .features__container {
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    text-align: center; }
  .features__icon {
    width: 6.5rem;
    height: 6.5rem;
    background-color: #f16718;
    border-radius: 1.6rem;
    margin-bottom: 2.4rem; }
  .features__description {
    max-width: 32.7rem; }

@media (min-width: 48em) {
  .features {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 4rem;
    row-gap: 7.2rem;
    column-gap: 1.1rem;
    margin-bottom: 14.2rem; }
    .features__container {
      align-items: baseline;
      text-align: justify;
      max-width: 28.1rem; }
    .features__description {
      max-width: 100%; } }
@media (min-width: 75em) {
  .features {
    padding: 0 16.5rem;
    grid-template-columns: repeat(auto-fit, minmax(25.5rem, 1fr));
    column-gap: 3rem;
    margin-bottom: 12.8rem; }
    .features__container {
      align-items: baseline;
      text-align: justify; } }
.footer {
  max-width: 27.2rem;
  margin: 0 auto 5rem; }
  .footer p {
    font-weight: 700; }
    .footer p span {
      font-weight: 500; }

@media (min-width: 75em) {
  .footer {
    margin: 0 auto 4rem; } }

/*# sourceMappingURL=main.css.map */
