/*NOTE: colors*/
/* NOTE: typography */
/* NOTE: flexbox
%flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* NOTE: grid
%grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* NOTE: typography */
.information__title, .features__title, .hero__title {
  font-family: "Barlow";
  font-weight: 900;
  font-size: 4.8rem;
  text-transform: uppercase;
  color: #162542; }

.information__title {
  font-size: 3.2rem;
  line-height: 1.125; }

.features__title {
  font-size: 2.4rem;
  line-height: 1.167; }

.btn, .hero__description, .hero__release-date, .information__description, .features__description, .footer p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.625;
  color: #7b8bad; }

/* NOTE: buttons */
.btn {
  width: 15.1rem;
  height: 4.8rem;
  border: none;
  border-radius: 0.8rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4rem; }

/* NOTE: flexbox */
.header, .hero__content, .hero__order, .information__gallery, .information__content, .features__container, .features__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

/* NOTE: grid */
.hero, .features {
  display: grid;
  grid-template-columns: 1fr; }

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 56.25%;
  scroll-behavior: smooth; }

body {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  line-height: 1;
  background-color: #fff; }

@media (min-width: 768px) {
  html {
    font-size: 62.5%; } }
.btn:hover {
  cursor: pointer; }
.btn--orange {
  background-color: #f16718; }
  .btn--orange:hover {
    background-color: #ff9b62; }
.btn--light-gray {
  background-color: #e8eff2;
  color: #162542; }
  .btn--light-gray:hover {
    background-color: #162542;
    color: #fff; }

.header {
  height: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6.4rem;
  padding: 2.4rem 2.4rem 0; }

@media (min-width: 48em) and (max-width: 64em) {
  .header {
    padding: 4rem 4rem 0; } }
.hero {
  row-gap: 6.4rem;
  height: auto;
  overflow: hidden;
  margin-bottom: 2.4rem; }
  .hero__content {
    align-items: baseline;
    gap: 3.2rem;
    padding: 0 2.4rem; }
  .hero__title {
    font-size: clamp(4.2rem, 2vw, 5.6rem); }
  .hero__order {
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 3.2rem; }
  .hero__release-date {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700; }
  .hero__image {
    border-radius: 2rem; }
    .hero__image--desktop, .hero__image--tablet {
      display: none; }
    .hero__image--mobile {
      display: block;
      width: 100%;
      transform: translateX(2.4rem); }

@media (min-width: 48em) and (max-width: 64em) {
  .hero {
    grid-template-columns: 33.9rem minmax(47.8rem, 54rem);
    column-gap: 6.9rem;
    margin-bottom: 4rem;
    padding-left: 4rem; }
    .hero__content {
      padding: 0;
      gap: 0;
      width: 100%; }
    .hero__title {
      font-size: 4.8rem;
      margin-bottom: 3.4rem; }
    .hero__description {
      margin-bottom: 4rem; }
    .hero__release-date {
      font-size: 1.5rem; }
    .hero__image--desktop, .hero__image--mobile {
      display: none; }
    .hero__image--tablet {
      display: block;
      width: 100%; } }
.information__gallery {
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
  margin-bottom: 7.5rem;
  padding: 0 2.4rem 0 0; }
  .information__gallery-image {
    width: 100%;
    border-radius: 2rem; }
    .information__gallery-image--tablet, .information__gallery-image--desktop {
      display: none; }
    .information__gallery-image--first {
      position: relative;
      transform: translateX(-2rem); }
      .information__gallery-image--first::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(241, 103, 24, 0.7486);
        mix-blend-mode: multiply;
        border-radius: 2rem; }
.information__content {
  padding: 0 2.4rem;
  gap: 2.4rem;
  text-align: center;
  margin-bottom: 11rem; }
.information__title {
  max-width: 25.5rem; }
.information__description {
  max-width: 32.7rem; }

@media (min-width: 48em) and (max-width: 64em) {
  .information {
    padding: 0 4rem; }
    .information__gallery {
      padding: 0;
      gap: 3rem;
      margin-bottom: 7.2rem; }
      .information__gallery-image--desktop, .information__gallery-image--mobile {
        display: none; }
      .information__gallery-image--tablet {
        display: block; }
      .information__gallery-image--first {
        transform: translate(0); }
    .information__content {
      display: grid;
      grid-template-columns: 0.75fr 1.25fr;
      padding: 0;
      text-align: justify;
      column-gap: 3.6rem;
      margin-bottom: 14.2rem; }
    .information__title, .information__description {
      max-width: 100%; } }
.features {
  padding: 0 2.4rem;
  grid-template-columns: 1fr;
  align-items: center;
  row-gap: 6.4rem;
  margin-bottom: 9.6rem; }
  .features__container {
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    text-align: center; }
  .features__icon {
    width: 6.5rem;
    height: 6.5rem;
    background-color: #f16718;
    border-radius: 1.6rem;
    margin-bottom: 2.4rem; }
  .features__title {
    max-width: 20rem; }
  .features__description {
    max-width: 32.7rem; }

.footer {
  max-width: 27.2rem;
  margin: 0 auto 5rem; }
  .footer p {
    font-weight: 700; }
    .footer p span {
      font-weight: 500; }

/*# sourceMappingURL=main.css.map */
