/*NOTE: colors*/
/* NOTE: typography */
.hero__title {
  font-family: "Barlow";
  font-weight: 900;
  font-size: 5.6rem;
  text-transform: uppercase;
}

.btn, .hero__description, .hero__release-date {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.625;
}

/* NOTE: buttons */
.btn {
  width: 17.5rem;
  height: 5.8rem;
  border: none;
  border-radius: 0.8rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

/* NOTE: flexbox */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* NOTE: grid */
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  line-height: 1;
  background-color: #fff;
}

.btn:hover {
  cursor: pointer;
}

.btn--orange {
  background-color: #f16718;
}

.btn--orange:hover {
  background-color: #ff9b62;
}

.btn--light-gray {
  background-color: #e8eff2;
  color: #162542;
}

.btn--light-gray:hover {
  background-color: #162542;
  color: #fff;
}

.main-container {
  max-width: 144rem;
  margin: 0 auto;
  position: relative;
  padding: 5.5rem 16.5rem 4rem;
  position: relative;
  overflow: hidden;
}

.main-container::after {
  content: "";
  position: absolute;
  width: 25.5rem;
  height: 24rem;
  background-color: #e8eff2;
  left: 100%;
  top: 19.5rem;
  transform: translateX(-50%);
  border-radius: 2rem;
}

@media (min-width: 48em) and (max-width: 64em) {
  .main-container {
    padding: 4rem 4rem 4.3rem;
  }
  .main-container::after {
    display: none;
  }
}

@media (min-width: 20em) and (max-width: 30em) {
  html {
    font-size: 56.25%;
  }
  .main-container {
    padding: 2.3rem 2.4rem 5rem;
  }
  ::after {
    display: none;
  }
}

.header {
  max-width: 111rem;
  height: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 20em) and (max-width: 30em) {
  .header__btn {
    max-width: 15rem;
    font-size: 1.4rem;
  }
}

.hero {
  grid-template-columns: minmax(33.9rem, 1fr) minmax(47.8rem, 54rem);
  column-gap: 12.5rem;
  margin-top: 8.3rem;
}

.hero__content {
  align-self: center;
}

.hero__title {
  color: #162542;
  margin-bottom: 2.4rem;
}

.hero__description {
  font-size: 1.8rem;
  line-height: 1.44;
  color: #7b8bad;
  margin-bottom: 4rem;
}

.hero__release-date {
  color: #7b8bad;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 4rem;
}

.hero__image {
  max-width: 100%;
  height: auto;
  border-radius: 2rem;
}

.hero__image--desktop {
  display: block;
}

.hero__image--tablet, .hero__image--mobile {
  display: none;
}

@media (min-width: 48em) and (max-width: 64em) {
  .hero {
    margin-top: 6.2rem;
    column-gap: 6.9rem;
    max-width: 100%;
  }
  .hero__title {
    font-size: 4.8rem;
    margin-bottom: 3.4rem;
  }
  .hero__description {
    font-size: 1.6rem;
    line-height: 1.625;
  }
  .hero__release-date {
    font-size: 1.5rem;
    margin-left: 3.7rem;
  }
  .hero__image--desktop {
    display: none;
  }
  .hero__image--tablet {
    display: block;
  }
}

@media (min-width: 20em) and (max-width: 30em) {
  .hero {
    margin-top: 6.4rem;
    grid-template-columns: 1fr;
    row-gap: 6.4rem;
  }
  .hero__content {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
  .hero__title {
    font-size: 4.8rem;
    margin: 0;
  }
  .hero__description {
    line-height: 1.625;
    margin: 0;
  }
  .hero__btn {
    max-width: 15rem;
    font-size: 1.4rem;
  }
  .hero__release-date {
    font-size: 1.5rem;
    margin-left: 3.2rem;
  }
  .hero__image--desktop, .hero__image--tablet {
    display: none;
  }
  .hero__image--mobile {
    display: block;
    max-width: 110%;
  }
}
